

<%= turbo_frame_tag "cart" do %>
    <div class="card">
    <h1 class="card-header">CART</h1>
    <% if @cart.orderables.count > 0 %>
        <div class="card-body"><%= render "cart/orderables" %></div>
        <div class="card-footer"><strong>Total:<%= @cart.total %></strong></div>
    <% else %>
        <p> Your Cart is Empty </p>
    <% end %>
<% end %>