<h1>Editing reservation</h1>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Show", @reservation, class:"btn btn-primary btn-sm" %> |
  <%= link_to "Back", reservations_path, class:"btn btn-primary btn-sm" %>
</div>
