<div id="<%= dom_id category %>" class="card">

  <div class="card-body">
    <p>
      <strong><%= category.heading %></strong>
    </p>
    <p>
    <strong>Body:</strong>
    <%= category.body %>
    </p>
    <p>
    <strong>Display:</strong>
    <%= category.display %>
    </p>
  </div>
</div>
