<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories" class="row row-cols-auto justify-contents-evenly">
  <% @categories.each do |category| %>
    <div class="col-auto justify-contents-evenly">
      </br>
      <%= render category %>
      <p>
        <%= link_to "Show", category ,  class:"btn btn-primary btn-sm" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New", new_category_path, class:"btn btn-primary btn-sm" %>
